* {
    font-family: 'Montserrat', sans-serif
}

body {
    margin: 0;
}

.nav-item {
    font-size: 14px;
}

.nav-link {
    color: black !important;
}

li {
    margin-bottom: 0px !important;
}

li.nav-item.dropdown {
    margin-right: 5px;
    margin-left: 5px;
}

.demo-btn {
    background-color: #6a35ff;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    font-size: 14px;
    width: auto;
    height: 40px;
    color: white;
    text-decoration: none;
}

.marketplace-section {
    padding-bottom: 15vh;
}

#navbarSupportedContent {
    justify-content: center;
    align-items: center;
}

.contact-btn {
    color: white;
}

.search-bar {
    background: #F3F3F4 0% 0% no-repeat padding-box;
    border-radius: 8px;
    height: 40px;
    width: 97%;
    border-width: 0;
    background: #F3F3F4 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;

}

.accordion-btn.collapsed::after {
    background-image: url("../../image/add.png");
    border: none;
}

.accordion-btn:not(.collapsed)::after {
    background-image: url("../../image/minus.png");
    border: none;
}

.accordion-btn:not(.collapsed) {
    background-color: #fff;
}

a.accordion-1.collapsed::after {
    background-image: none;
}

a.accordion-button.collapsed.accordion-1 {
    text-decoration: none;
    color: #2B2B2B;
}

a.accordion-1:not(.collapsed)::after {
    background-image: none;
}

.accordion-item {
    border: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.accordion {
    width: 22%;
    margin: 0;
}

.dropdown-wrapper {
    display: flex;
    justify-content: flex-end;
}

.marketplace-title {
    font-size: 22px;
    font-weight: 500;
}

.sort-button {
    background-color: #fff;
    border: none;
    color: #2B2B2B
}

.sort-button {
    background-color: #fff;
    border: none;
    color: #2B2B2B
}

.sort-button.show {
    background-color: #fff;
    border: none;
    color: #2B2B2B
}

.sort-button:hover {
    background-color: #fff;
    border: none;
    color: #2B2B2B
}

.col-4{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.col-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    width: 15.5rem !important;
    height: 9rem;
    box-shadow: 0px 5px 15px #6241F54D;
    border: none;
    padding: 40px 40px;
}

.container {
    margin: 0 auto;
    max-width: 1200px
}

.popular-section {
    padding: 100px 0;
    background-color: #F0FBF7;
}

.popular-title {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
}

.filter-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn-filter {
    background: none;
    text-align: center;
    height: 58px;
    text-align: center;
    width: 180px;
    margin-right: 16px;
    margin-left: 16px;
}

.btn-filter:hover {
    height: 58px;
    width: 180px;
    border-radius: 8px;
    background: #6241F54D 0% 0% no-repeat padding-box;
    color: white;
}

.active {
    height: 58px;
    width: 180px;
    border-radius: 8px;
    background: #6241F54D 0% 0% no-repeat padding-box;
    color: white;
}

.partner-picture{
    display: flex;
    align-items: center;
    justify-content: center;
}
